/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms


 */

.control-label {
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 1.5rem;
}

.checkbox {
  padding-right: 1rem;
}

body {
  background-color: #212121;
  color: #30A9DE;
}

.navbar {
  background-color: background: rgba(18,18,18,1);
  background: -moz-linear-gradient(-45deg, rgba(18,18,18,1) 0%, rgba(28,28,28,1) 9%, rgba(43,43,43,1) 24%, rgba(18,18,18,1) 40%, rgba(0,0,0,1) 49%, rgba(71,71,71,1) 61%, rgba(102,102,102,1) 75%, rgba(89,89,89,1) 88%, rgba(43,43,43,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(18,18,18,1)), color-stop(9%, rgba(28,28,28,1)), color-stop(24%, rgba(43,43,43,1)), color-stop(40%, rgba(18,18,18,1)), color-stop(49%, rgba(0,0,0,1)), color-stop(61%, rgba(71,71,71,1)), color-stop(75%, rgba(102,102,102,1)), color-stop(88%, rgba(89,89,89,1)), color-stop(100%, rgba(43,43,43,1)));
  background: -webkit-linear-gradient(-45deg, rgba(18,18,18,1) 0%, rgba(28,28,28,1) 9%, rgba(43,43,43,1) 24%, rgba(18,18,18,1) 40%, rgba(0,0,0,1) 49%, rgba(71,71,71,1) 61%, rgba(102,102,102,1) 75%, rgba(89,89,89,1) 88%, rgba(43,43,43,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(18,18,18,1) 0%, rgba(28,28,28,1) 9%, rgba(43,43,43,1) 24%, rgba(18,18,18,1) 40%, rgba(0,0,0,1) 49%, rgba(71,71,71,1) 61%, rgba(102,102,102,1) 75%, rgba(89,89,89,1) 88%, rgba(43,43,43,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(18,18,18,1) 0%, rgba(28,28,28,1) 9%, rgba(43,43,43,1) 24%, rgba(18,18,18,1) 40%, rgba(0,0,0,1) 49%, rgba(71,71,71,1) 61%, rgba(102,102,102,1) 75%, rgba(89,89,89,1) 88%, rgba(43,43,43,1) 100%);
  background: linear-gradient(135deg, rgba(18,18,18,1) 0%, rgba(28,28,28,1) 9%, rgba(43,43,43,1) 24%, rgba(18,18,18,1) 40%, rgba(0,0,0,1) 49%, rgba(71,71,71,1) 61%, rgba(102,102,102,1) 75%, rgba(89,89,89,1) 88%, rgba(43,43,43,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#121212', endColorstr='#2b2b2b', GradientType=1 );
  border-bottom: hidden;
}


.navbar-inverse .navbar-brand {
  color: #30A9DE;
}

a {
  color: #30A9DE;
  text-decoration: none;
}

table, th, td {
  border: 1px !important;
  padding: 10px;
}

.form-control {
  background-color: rgba(89,89,89,1);
  border: 1px solid rgba(89,89,89,1);
  color: #30A9DE
}

.btn-default {
  background-color: rgba(89,89,89,1);
  border: 1px solid rgba(89,89,89,1);
  color: #30A9DE;
}

.page-header {
  border-bottom: 1px solid #30a9de;
}

.btn-primary {
  color: #b2b2b2;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: #cccccc;
  border-color: black;
  color: black;
}
 .datepicker-days {
   padding-left: 4.5em
 }